<template>
	<view class="content">
		<view class="user-info-box">
			<view>
				<image class="portrait" :src="headUrl || '/static/missing-face.png'"></image>
			</view>
			<view class="info-box">
				<view class="job-name">
					<text class="username">{{userInfo.userName || '游客'}}</text>
				</view>
			</view>
		</view>
		<view class="this-content">
			<view class="end-title">
				<view v-for="(item,index) in items" :key="index" :class="{btna:count == index}" @tap="change(index)">
					{{item}}
				</view>
			</view>
			<view class="end-cont" :class="{dis:btnnum == 0}">

				<view>省考练习题</view>
				<view>
					{{pQuestion.QUESTION_STEM}}
				</view>
				<radio-group>
					<view v-for="(item,index) in answerArr" :key="index" class="answerItem">
						<radio :id="item.answerId" @click="checkboxChange" />
						<view>{{item.answerContent}}</view>
					</view>
				</radio-group>
				<view class="button-group">
					<button @click="questionCommit()">确定</button>
					<button @click="nextQuestion()">下一题</button>
				</view>
				<view v-show="showResult">
					<view v-show='result==1' class="question-right">
						正确
					</view>
					<view v-show='result==0' class="question-wrong">
						错误
					</view>
				</view>
				<view v-show="showAnalysis">
					解析：{{pQuestion.QUESTION_ANALYSIS}}
				</view>

			</view>
			<view class="end-cont" :class="{dis:btnnum == 1}">
				<view>国考练习题</view>
				<view>
					{{cQuestion.QUESTION_STEM}}
				</view>
				<radio-group>
					<view v-for="(item,index) in answerArr" :key="index" class="answerItem">
						<radio :id="item.answerId" @click="checkboxChange" />
						<view>{{item.answerContent}}</view>
					</view>
				</radio-group>
				<view class="button-group">
					<button @click="questionCommit()">确定</button>
					<button @click="nextQuestion()">下一题</button>
				</view>
				<view v-show="showResult">
					<view v-show='result==1' class="question-right">
						正确
					</view>
					<view v-show='result==0' class="question-wrong">
						错误
					</view>
				</view>
				<view v-show="showAnalysis">
					解析：{{cQuestion.QUESTION_ANALYSIS}}
				</view>

			</view>
		</view>
	</view>
</template>

<script>
	import requestUrl from '@/url';
	import {
		mapMutations,
		mapState
	} from 'vuex';
	export default {
		data() {
			return {
				btnnum: 0,
				items: ["省考练习题", "国考练习题"],
				count: "",
				headUrl: null,
				cQuestion: {
					'QUESTION_STEM': ''
				},
				pQuestion: {
					'QUESTION_STEM': ''
				},
				answerArr: null,
				showAnalysis: false,
				showResult: false,
				result: 0,
				selectId: "",
				over: false,
				questionId: ""
			}
		},
		onLoad() {

		},
		onShow() {
			this.getOpenId();
		},
		computed: {
			...mapState(['userInfo'])
		},
		methods: {
			...mapMutations(['login']),
			change(e) {
				this.count = e
				this.btnnum = e
				this.showResult = false
				this.showAnalysis = false
				if (e == 0) {
					this.queryPQuestion();
				} else {
					this.queryCQuestion();
				}
			},
			queryPQuestion() {
				uni.request({
					url: requestUrl.requestUrl + "question/queryQuestionBySortId",
					method: "POST",
					data: {
						sortId: 0
					},
					header: {
						'token': this.userInfo.token
					},
					dataType: "json",
					success: resp => {
						if (resp.data.code == 0) {
							this.selectId = ""
							this.over = false
							this.answerArr = []
							if (resp.data.data != null) {
								this.pQuestion = resp.data.data

								this.questionId = this.pQuestion.QUESTION_ID
								this.queryAnswer(this.pQuestion.QUESTION_ID)
							}

						}

					}
				})
			},
			queryCQuestion() {
				uni.request({
					url: requestUrl.requestUrl + "question/queryQuestionBySortId",
					method: "POST",
					data: {
						sortId: 1
					},
					header: {
						'token': this.userInfo.token
					},
					dataType: "json",
					success: resp => {
						if (resp.data.code == 0) {
							this.selectId = ""
							this.answerArr = []
							this.over = false
							if (resp.data.data != null) {
								this.cQuestion = resp.data.data
								this.questionId = this.cQuestion.QUESTION_ID
								this.queryAnswer(this.cQuestion.QUESTION_ID)
							}

						}

					}
				})
			},
			queryAnswer(questionId) {
				uni.request({
					url: requestUrl.requestUrl + "question/queryAnswerByQuestionId",
					method: "POST",
					data: {
						questionId: questionId
					},
					header: {
						'token': this.userInfo.token
					},
					dataType: "json",
					success: resp => {
						if (resp.data.code == 0) {
							this.answerArr = resp.data.data
						}

					}
				})
			},
			checkboxChange(e) {
				this.selectId = e.target.id
			},
			questionCommit() {
				if (this.selectId == "") {
					uni.showToast({
						title: "请先选择答案"
					})
					return;
				}
				for (let i = 0; i < this.answerArr.length; i++) {
					let answerId = this.answerArr[i].answerId
					if (this.selectId == answerId) {
						this.result = this.answerArr[i].correctFlag
					}
				}
				uni.request({
					url: requestUrl.requestUrl + "question/saveErrorLog",
					method: "POST",
					data: {
						questionId: this.questionId,
						result: this.result
					},
					header: {
						'token': this.userInfo.token
					},
					dataType: "json",
					success: resp => {
						if (resp.data.code == 0) {

						}

					}
				})
				this.over = true
				this.showResult = true
				this.showAnalysis = true
			},
			nextQuestion() {
				if (this.selectId == "") {
					uni.showToast({
						title: "请先选择答案"
					})
				} else if (this.over == false) {
					uni.showToast({
						title: "请先确定答案"
					})
				} else {
					this.showResult = false
					this.showAnalysis = false
					if (this.btnnum == 0) {
						this.queryPQuestion();
					} else {
						this.queryCQuestion();
					}

				}

			},
			getOpenId() {
				let that = this
				uni.login({
					provider: 'weixin',
					success: (res) => {
						uni.request({
							url: requestUrl.requestUrl + "userInfo/login",
							method: "POST",
							data: {
								code: res.code
							},
							dataType: "json",
							success: resp => {
								if (resp.data.code == 0) {
									let openId = resp.data.data.userInfo.wxOpenId
									that.userInfo['wxOpenId'] = openId;
									that.userInfo['imgId'] = resp.data.data.userInfo.imgId
									that.userInfo['id'] = resp.data.data.userInfo.id
									that.userInfo['token'] = resp.data.data.token
									that.userInfo['userName'] = resp.data.data.userInfo.userName
									that.userInfo['mobile'] = resp.data.data.userInfo.mobile
									that.userInfo['sessionKey'] = resp.data.data.userInfo
										.sessionKey
									that.userInfo['shopId'] = resp.data.data.userInfo.shopId
									that.userInfo['shopName'] = resp.data.data.userInfo.shopName
									that.userInfo['grapeUserId'] = resp.data.data.userInfo
										.grapeUserId
									that.userInfo['headFlag'] = resp.data.data.userInfo
										.headFlag
									that.userInfo['qrImg'] = resp.data.data.userInfo
										.qrImg
									that.getUserHeadPicture();
									that.login(that.userInfo);
									if (that.userInfo["imgId"] == null || that.userInfo[
											"userName"] == null) {
										that.getUserPro();
									}

								} else {
									console.log(resp);
									uni.showModal({
										title: "提示",
										content: "登陆失败：" + resp.data.message
									})
								}
							},
							fail: resp => {
								console.log(resp);
							}
						})
					}
				})
			},
			getUserPro() {
				let that = this
				wx.showModal({
					title: '提示',
					content: '授权微信登录后才能正常展示头像昵称',
					success(res) {
						if (res.confirm) {
							wx.getUserProfile({
								desc: '正在获取用户信息', //不写不弹提示框
								success: function(res) {
									that.userInfo['userName'] = res.userInfo.nickName
									that.userInfo['headSculptureUrl'] = res.userInfo.avatarUrl
									uni.showLoading({
										title: '加载中',
										mask: true
									});
									uni.request({
										url: requestUrl.requestUrl + "userInfo/update",
										method: "POST",
										data: that.userInfo,
										dataType: "json",
										header: {
											'token': that.userInfo.token
										},
										success: res => {
											uni.hideLoading()
											if (res.data.code == 0) {
												let userinfo = that.userInfo;
												userinfo['id'] = res.data.data.id
												userinfo['imgId'] = res.data.data.imgId
												userinfo['userName'] = res.data.data
													.userName
												userinfo['headSculptureUrl'] = res.data
													.data.headSculptureUrl
												userinfo['wxOpenId'] = res.data.data
													.wxOpenId
												that.login(userinfo);
												that.hideButton = true
												that.getUserHeadPicture();
											}
										}
									})
								},
								fail: function(res) {
									console.log(res)
								}
							})
						} else {
							uni.showToast({
								title: "您已取消授权",
								icon: 'none'
							});
						}
					}
				})

			},
			getUserHeadPicture() {
				if (this.userInfo.imgId) {
					uni.request({
						url: requestUrl.requestUrl + "fileInfo/getImg",
						method: "POST",
						data: {
							id: this.userInfo.imgId
						},
						header: {
							'token': this.userInfo.token
						},
						dataType: "json",
						success: resp => {
							this.headUrl = 'data:image/png;base64,' + resp.data
							this.queryPQuestion()
						}
					})
				}

			},
		}
	}
</script>

<style>
	.content {
		width: 90%;
		margin: 5%;
		display: flex;
		flex-direction: column;
		/* 		align-items: center;
		justify-content: center; */
	}

	.user-info-box {
		display: flex;
		z-index: 1;
		flex-direction: row;
		margin-left: 30upx;
	}

	.portrait {
		width: 130upx;
		height: 130upx;
		border: 5upx solid #fff;
		border-radius: 50%;
	}

	.info-box {
		display: flex;
		flex-direction: column;
		margin-left: 20upx;
		justify-content: center;

	}

	.job-name {
		display: flex;
		flex-direction: row;
		align-items: baseline;
	}

	.username {
		font-size: 40upx;
	}

	.end-title {
		display: flex;
	}

	.end-title view {
		flex-grow: 1;
		text-align: center;
	}

	.end-cont {
		display: none;
		margin: 20upx;
		background: #f3f2f7;
	}

	.btna {
		color: #FFFFFF;
		background: #00A0FF;
	}

	.dis {
		display: block;
	}

	.answerItem {
		display: flex;
	}

	.question-right {
		color: #4CD964;
	}

	.question-wrong {
		color: #DD524D;
	}
</style>
