<template>
	<view class="content">
		<view class='other-advise'>
			<scroll-view scroll-y @scrolltolower="queryGoods">
				<block v-for="(item, index) in goodsList" :key="index">
					<!-- v-if="item.src" -->
					<view class="other-advise-item"  title="" note="">
						<view>
							{{item.GOODS_NAME}}
						</view>
						<image class="other-advise-image" :src="item.src" @click="imgClick(item.ID)"></image>
						<view class="otherDesc">
							<text class="price">￥{{item.SA_PRICE}}</text><text class="desc">￥{{item.DIS_PRICE}}</text>
						</view>
						<view>
							{{item.DESCRIBE}}
						</view>
					</view>
				</block>
				<uni-load-more :status="loadingType"></uni-load-more>
			</scroll-view>
		</view>
	</view>
</template>

<script>
	import requestUrl from '@/url';
	import {
		mapMutations,
		mapState
	} from 'vuex';
	export default {
		data() {
			return {
				page: 0,
				loadingType:'more',
				goodsList:[]
			}
		},
		onLoad() {
			// this.queryGoods()
		},
		onShow(){
			this.queryGoods()
		},
		computed: {
			...mapState(['userInfo'])
		},
		methods: {
			queryGoods(){
				let page = this.page + 1;
				let that = this
				if (this.loadingType === 'loading') {
					//防止重复加载
					return;
				}
				if (this.loadingType === 'noMore') {
					return;
				}
				this.loadingType = 'loading';
				uni.request({
					url: requestUrl.requestUrl + "goods/queryGoods",
					method: "POST",
					data: {
						page: {
							currentNum: page,
							pageSize: 10
						},
					},
					header: {
						'token': this.userInfo.token
					},
					dataType: "json",
					success: resp => {
						if (resp.data.code == 0) {
							let itemList = []
							resp.data.data.content.forEach(item => {
								itemList.push(item)
								let fileId = item.GOODS_IMG
								uni.request({
									url: requestUrl.requestUrl + "fileInfo/getImg",
									method: "POST",
									header: {
										'accessToken': this.userInfo.token
									},
									data: {
										id: fileId
									},
									dataType: "json",
									success: res => {
										itemList.forEach(item1 => {
											if (item1.GOODS_IMG === fileId) {
												item['src'] = 'data:image/png;base64,' + res.data
												that.goodsList.push(item)
											}
										})
									}
								})
								
							})
							that.page = page
							if (resp.data.data.last) {
								that.loadingType = 'noMore';
							} else {
								that.loadingType = 'more';
							}
						} else {
							that.loadingType = 'noMore';
						}
				
					}
				})
			},
			imgClick(id){
				uni.showToast({
					title:'前往购买商品'+id
				})
			}
		}
	}
</script>

<style>
	.content {
		width: 90%;
		margin: 5%;
		display: flex;
		flex-direction: column;
	}
	.price {
		margin-left: 10rpx;
		/* font-size: $uni-font-size-sm; */
		color: #8F8F94;
		text-overflow: ellipsis;
		word-wrap: break-word;
		text-decoration: line-through;
	}
	
	.desc {
		margin-left: 30rpx;
		/* font-size: $uni-font-size-sm; */
		color: #DD524D;
		/* word-wrap: break-word */
	}
</style>
