<template>
	<view class="content">
		<view>
			<button class="button-class"  @click="toShowTalk()" >创建话题</button>
		</view>
		<scroll-view scroll-y @scrolltolower="queryForum">
			<view  class="doc-list-class"   v-for="(item, index) in forumList" :key="index">
				<view >
					{{item.USER_NAME}}({{item.DATA_CREATED}})
				</view >
				<view  @click="showDtl(item.ID)" class="doc-list-content-class" >
					{{item.CONTENT}}<view class = "dtlCount-class">({{dtlCountList[index]}})</view>
				</view>
				<view><button class="button-re" @click="reSend(item.ID)" >回复</button></view>
				
				<view class="dtl-list-class" v-show="showList[index].ifShow == true"  v-for="(item1,index1) in dtlList" :key="index1" >
					<view class="">
						{{item1.USER_NAME}}({{item1.DATA_CREATED}})
					</view>
					<view class="dtl-list-content-class" >
						{{item1.CONTENT}}
					</view>
				</view>
			</view>
			<uni-load-more :status="loadingType"></uni-load-more>
		</scroll-view>

		<view :hidden="toTalkHidden" class="popup_content">
			<view class="popup_title">{{tittle}}</view>
			<view class="popup_textarea_item">
				<textarea v-model='toTalkContent' />
			</view>
			<view @click="send()">
				<button class="popup_button">发送</button>
			</view>
		</view>
		<view class ="popup_overlay" :hidden="toTalkHidden"  @click="hiddenToTalkHidden()" ></view>
	</view>
</template>

<script>
	import requestUrl from '@/url';
	import {
		mapMutations,
		mapState
	} from 'vuex';
	export default {
		data() {
			return {
				forumList: [],
				loadingType:'more',
				page: 0,
				toTalkHidden:true,
				toTalkContent:"",
				selectRow:null,
				tittle:"创建话题",
				showList:[],
				dtlList:[],
				dtlCountList:[]
			}
		},
		onLoad() {

		},
		onShow(){
			this.queryForum(1)
		},
		computed: {
			...mapState(['userInfo'])
		},
		methods: {
			queryForum(param){
				if(param == 1){
					this.page = 0
					this.forumList=[]
					this.dtlList = []
					this.dtlCountList = []
					this.showList = []
					this.loadingType = 'more'
				}
				let that = this
				if (this.loadingType === 'loading') {
					//防止重复加载
					return;
				}
				if (this.loadingType === 'noMore') {
					return;
				}

				let page = this.page + 1;
				this.loadingType = 'loading';
				uni.request({
					url: requestUrl.requestUrl + "forum/queryForum",
					method: "POST",
					data: {
						page: {
							currentNum: page,
							pageSize: 10
						},
					},
					header: {
						'token': this.userInfo.token
					},
					dataType: "json",
					success: resp => {
					if (resp.data.code == 0) {
						resp.data.data.content.forEach(item => {
							that.forumList.push(item)
							let showItem = new Object();
							showItem['id'] = item.ID
							showItem['ifShow'] = false
							that.showList.push(showItem)
							that.queryDtlCount(item.ID)
						})
						that.page = page
						if (resp.data.data.last) {
							that.loadingType = 'noMore';
						} else {
							that.loadingType = 'more';
						}
					}else {
						that.loadingType = 'noMore';
					}
					}
				})
			},
			showDtl(id){
				uni.request({
					url: requestUrl.requestUrl + "forum/queryForumByPId",
					method: "POST",
					data: {
					parentId:id
					},
					header: {
						'token': this.userInfo.token
					},
					dataType: "json",
					success: resp => {
						if(resp.data.code == 0){
							this.dtlList = resp.data.data
							for(let i = 0 ; i < this.showList.length ; i++){
								if(this.showList[i].id == id){
									this.showList[i].ifShow = true
								}else{
									this.showList[i].ifShow = false
								}
								
							}
						}
						
					}
				})
			},
			queryDtlCount(parentId){
				let that = this
				let count = 0
				uni.request({
					url: requestUrl.requestUrl + "forum/queryDtlCount",
					method: "POST",
					data: {
						parentId:parentId
					},
					header: {
						'token': this.userInfo.token
					},
					dataType: "json",
					success: resp => {
						that.dtlCountList.push(resp.data.data)
					}
					})
			},
			toShowTalk(){
				this.toTalkHidden = false
			},
			send(){
				uni.request({
					url: requestUrl.requestUrl + "forum/addForum",
					method: "POST",
					data: {
						content:this.toTalkContent,
						parentId:this.selectRow
					},
					header: {
						'token': this.userInfo.token
					},
					dataType: "json",
					success: resp => {
						console.log("保存完查询")
						this.queryForum(1)
					}
				})
				this.toTalkHidden = true
			},
			reSend(id){
				this.selectRow = id
				this.tittle = '回复'
				this.toShowTalk();
			},
			hiddenToTalkHidden(){
				this.toTalkHidden = true
			}
		}
	}
</script>

<style>
	.content {
		width: 90%;
		margin: 5%;
		display: flex;
		flex-direction: column;
	}

	.logo {
		height: 200rpx;
		width: 200rpx;
		margin-top: 200rpx;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50rpx;
	}

	.text-area {
		display: flex;
		justify-content: center;
	}

	.title {
		font-size: 36rpx;
		color: #8f8f94;
	}
	.popup_content {
		position: fixed;
		background-color: #d8d8d8;
		bottom: 5%;
		width: calc(100% - 80upx);
		z-index: 1002;
		overflow: auto;
		border-radius: 50upx;
	}
	.popup_title {
		margin-top: 20upx;
		text-align: center;
		font-size: 32upx;
	}
	.popup_button {
		color: white;
		background-color: #4399FC;
		width: 50%;
		margin-top: 30upx;
		height: 70upx;
		font-size: 30upx;
		margin-bottom: 30upx;
	}
	.popup_textarea_item {
		height: 60%;
		width: 94%;
		background-color: #ffffff;
		margin-top: 30upx;
		margin: 3%;
	}
	.button-class{
		display: inline;
		width: 200rpx;
		color: #ffffff;
		font-size: 30upx;
		background: #007AFF;
	}
	.button-re{
		display: inline;
		width: 100rpx;
		color: #ffffff;
		font-size: 20upx;
		background: #007AFF;
	}
	.doc-list-class{
		padding: 30upx;
		margin-top: 20upx;
		border-radius: 15upx;
		box-shadow:4px 4px 5px 3px #999;
		width: calc(100%- 10upx);
		background: #aaffff;
		/* color: #ffffff; */
	}
	.doc-list-content-class{
		/* border-radius: 15upx; */
		/* box-shadow:4px 4px 5px 3px #999; */
		/* width: calc(100%- 10upx); */
		/* background: #cccec5; */
		color: #5555ff;
	}
	.dtl-list-class{
		padding: 20upx;
		margin-top: 10upx;
		margin-left: 50upx;
		border-radius: 15upx;
		box-shadow:4px 4px 5px 3px #999;
		width: calc(100%- 10upx);
		background: #cccec5;
		/* color: #ffffff; */
	}
	.dtl-list-content-class{
		color: #5555ff;
	}
	.popup_overlay {
		position: fixed;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 180%;
		background-color: black;
		z-index: 1001;
		-mOz-opacity: 0.8;
		opacity: .80;
		filter: alpha(opacity=88);
	}
	.dtlCount-class{
		display: inline;
		color:#FF0000;
	}
</style>
