<template>
	<view class="content">
		<view class="" v-show="examType == null">
			<button @click="choseExamType(0)">省考模拟</button>
			<button @click="choseExamType(1)">国考模拟</button>
		</view>
		<view class="" v-show="examType != null">
			<view v-show="examType==0">省考模拟({{exam.id}})</view>
			<view v-show="examType==1">国考模拟</view>
			<view v-show="questionOver == false">
				{{questionitem.QUESTION_STEM}}
			</view>
			<radio-group>
				<view v-for="(item,index) in answerArr" :key="index" class="answerItem">
					<radio :id="item.answerId" @click="checkboxChange" />
					<view>{{item.answerContent}}</view>
				</view>
			</radio-group>
			<view class="button-group" v-show="questionOver == false">
				<button @click="questionCommit()">确定</button>
				<button @click="nextQuestion()">下一题</button>
			</view>
			<view class="" v-show="questionOver && !showExamResult">
				<button @click="overExam()">交卷</button>
			</view>
			<view v-show="showExamResult">
				<view class="">
					正确题数：{{rightCount}}
				</view>
				<view class="">
					错误题数：{{wrongCount}}
				</view>
				<view>
					得分：{{score}}
				</view>
			</view>
			<view v-show="showResult">
				<view v-show='result==1' class="question-right">
					正确
				</view>
				<view v-show='result==0' class="question-wrong">
					错误
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import requestUrl from '@/url';
	import {
		mapMutations,
		mapState
	} from 'vuex';
	export default {
		data() {
			return {
				examType: null,
				questionList: [],
				questionitem: {"QUESTION_STEM":""},
				answerArr: null,
				exam: {
					id: ''
				},
				index: 0,
				resultList: [],
				selectId: "",
				showResult: false,
				result: 0,
				over: false,
				questionOver: false,
				showExamResult: false,
				rightCount: 0,
				wrongCount: 0,
				score: 0
			}
		},
		onLoad() {

		},
		computed: {
			...mapState(['userInfo'])
		},
		methods: {
			choseExamType(examType) {
				this.examType = examType
				this.getOneExamQuestions(examType)
			},
			getOneExamQuestions(examType) {
				uni.request({
					url: requestUrl.requestUrl + "question/getOneExamQuestions",
					method: "POST",
					data: {
						sortId: examType
					},
					header: {
						'token': this.userInfo.token
					},
					dataType: "json",
					success: resp => {
						if (resp.data.code == 0) {
							this.exam = resp.data.data.exam
							let questionList = resp.data.data.questionList
							if (questionList.length > 0) {
								this.questionList = questionList
								this.questionitem = questionList[0]
								this.queryAnswer(this.questionitem.QUESTION_ID)
							} else {
								uni.showToast({
									title: '没有模拟试题'
								})
							}
						}
					}
				})
			},
			queryAnswer(questionId) {
				uni.request({
					url: requestUrl.requestUrl + "question/queryAnswerByQuestionId",
					method: "POST",
					data: {
						questionId: questionId
					},
					header: {
						'token': this.userInfo.token
					},
					dataType: "json",
					success: resp => {
						if (resp.data.code == 0) {
							this.answerArr = resp.data.data
						}

					}
				})
			},
			checkboxChange(e) {
				this.selectId = e.target.id
			},
			nextQuestion() {
				if (this.selectId == "") {
					uni.showToast({
						title: "请先选择答案"
					})
				} else if (this.over == false) {
					uni.showToast({
						title: "请先确定答案"
					})
				} else {
					this.showResult = false
				}
				this.answerArr = []
				if (this.questionList.length != this.index + 1) {
					this.index = this.index + 1

					this.questionitem = this.questionList[this.index]
					this.queryAnswer(this.questionitem.QUESTION_ID)
				} else {
					let score = 0
					let rCount = 0
					let wCount = 0
					for (let i = 0; i < this.resultList.length; i++) {
						if (this.resultList[i].code == 0) {
							wCount++
						} else {
							rCount++
						}
					}
					score = 100 / this.questionList.length * rCount
					this.rightCount = rCount
					this.wrongCount = wCount
					this.score = score
					this.questionOver = true
					uni.showToast({
						title: '已经是最后一题'
					})

				}

			},
			questionCommit() {
				if (this.selectId == "") {
					uni.showToast({
						title: "请先选择答案"
					})
					return;
				}
				for (let i = 0; i < this.answerArr.length; i++) {
					let answerId = this.answerArr[i].answerId
					if (this.selectId == answerId) {
						this.result = this.answerArr[i].correctFlag
					}
				}
				if (this.result == 0) {
					uni.request({
						url: requestUrl.requestUrl + "question/saveErrorLog",
						method: "POST",
						data: {
							questionId: this.questionitem.QUESTION_ID,
							result: this.result
						},
						header: {
							'token': this.userInfo.token
						},
						dataType: "json",
						success: resp => {
							if (resp.data.code == 0) {

							}

						}
					})

				}
				this.over = true
				this.showResult = true
				let result = new Object();
				result['code'] = this.result
				result['questionId'] = this.questionitem.QUESTION_ID
				this.resultList.push(result)
			},
			overExam() {
				uni.request({
					url: requestUrl.requestUrl + "question/overExam",
					method: "POST",
					data: {
						id: this.exam.id,
						score: this.score
					},
					header: {
						'token': this.userInfo.token
					},
					dataType: "json",
					success: resp => {
						if (resp.data.code == 0) {

						}

					}
				})
				this.showExamResult = true
			}
		}
	}
</script>

<style>
	.content {
		width: 90%;
		margin: 5%;
		display: flex;
		flex-direction: column;
	}

	.answerItem {
		display: flex;
	}

	.question-right {
		color: #4CD964;
	}

	.question-wrong {
		color: #DD524D;
	}
</style>
